body {
  font-family: 'Nunito', sans-serif;
}

.btn-accent, .bg-accent {
  background-color: #f86d72 !important;
}

.banner {
  position: relative;
}
.banner img {
  width: 100%;
}
.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}

.category-card {
  position: relative;
  overflow: hidden;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
